.btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    font-size: 1.8rem;
    text-transform: capitalize;
    background: $main-color;
    color: $black;
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    transition: filter $t-time ease;

    &:hover {
        filter: brightness(1.1);

        i {
            transform: translateX(-1rem);
        }
    }

    i {
        font-size: 1.5rem;
        margin-right: 1rem;
        transition: transform $t-time ease-in-out;
    }
}