// Set text color
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return $black;
  } @else {
    @return $white;
  }
}

//  Set bg color
@mixin set-bg-color($color) {
  background: $color;
  color: set-text-color($color);
}

// Set bg img
@mixin set-bg-img($path) {
  background-image: url($path);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// Flex-center
@mixin flex-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Position absolute in center
@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media query
@mixin media($size) {
  @if ($size == "tablet") {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
  @if ($size == "laptop") {
    @media screen and (min-width: $laptop) {
      @content;
    }
  }
  @if ($size == "pc") {
    @media screen and (min-width: $pc) {
      @content;
    }
  }
}
